@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url("grafiken/paul-pastourmatzis-r0J9sGBWFOc-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.row {
  display: flex;
}

.logo {
  width: 37rem;
  opacity: 0;
  animation: logo-fade-in 2s ease-in-out, logo-fly-in 2s ease-in-out forwards;
  animation-fill-mode: forwards;
  margin: 0 auto;
  padding: 5rem;
}

@keyframes logo-fade-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes logo-fly-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  display: none;
}

.show {
  display: inherit;
}

@media (max-width: 768px) {
  /* für kleinere Bildschirme */
  .logo {
    height: 15rem;
  }
  .content {
    font-size: 1.5rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .logo__text {
    display: none;
  }
}

.content h1 {
  overflow: hidden;
  border-right: 0.15em solid #666;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 1.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #030303;
  }
}
